[Container]
Image=git.wheeli.ca/brian/stocker-list:latest
Network=host
EnvironmentFile=%h/.config/stocker-list/.env.podman
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target